body {
	padding: 0;
	margin: 0;
}
.red {
	border: 1px solid red;
	box-sizing: border-box;
}
.yellow {
	border: 1px solid yellow;
	box-sizing: border-box;
}
.search {
	height: 70%;
}
.search-icon {
	font-size: 1.8rem;
	margin: auto;
}
.tes {
	width: 60vw;
	aspect-ratio: 2 / 1;
	overflow: hidden;
	border-radius: 15px;
	margin: auto;
}
.slide {
	width: 100%;
	aspect-ratio: 2 / 1;
}
.slide img {
	object-fit: cover;
}
.footer-icon {
	color: white;
	font-size: 1.5rem;
}
.link {
	width: 100%;
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 1.3rem;
}
.dev-card {
	width: 200px;
	flex: 0 0 200px;
}
.dev-input-box {
	width: 90%;
}
.auth-box {
	max-width: 300px;
	box-sizing: content-box;
	max-height: 275px;
}
.dev-container {
	height: 100vh;
}
.pop-up-container {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	z-index: 1;
	bottom: 0;
	position: fixed;
}
.pop-up-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	background-color: white;
	z-index: 2;
	border-radius: 10px;
	padding: 1rem;
}
/* Definisikan keyframes untuk animasi */
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.loading-text {
	font-size: 2em;
	font-family: sans-serif;
	color: #333;
}

/* Terapkan animasi pada setiap titik dengan delay berbeda */
.loading-text span {
	animation: blink 1.4s infinite both; /* Terapkan animasi blink */
}

.dot-1 {
	/* Titik pertama muncul paling awal */
	animation-delay: 0s;
}

.dot-2 {
	/* Titik kedua muncul sedikit terlambat */
	animation-delay: 0.2s;
}

.dot-3 {
	/* Titik ketiga muncul paling akhir */
	animation-delay: 0.4s;
}
